@page
@model FluffyBunny.Admin.Pages.Tenants.Tenant.Clients.Client.AllowedArbitraryIssuers.AllowedArbitraryIssuer.DeleteModel
@{
    ViewData["Title"] = "Delete Allowed Abritrary Issuer";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Index">Tenants</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Index">@Model.TenantId</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Clients/Index">Clients</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Clients/Client/Index" asp-route-id="@Model.ClientId">Client</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Clients/Client/AllowedArbitraryIssuers/Index" asp-route-id="@Model.ClientId">Allowed Arbitrary Issuers</a></li>

        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<form method="post">
    <div class="card">
        <div class="card-header">
            @ViewData["Title"]
        </div>
        <input hidden asp-for="TenantId" class="form-control" />
        <input hidden asp-for="ClientId" class="form-control" />
        <input hidden asp-for="Input.Id" class="form-control" />

        <div class="card-body">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <table class="table">

                    <tbody>

                        <tr>

                            <td class="w-50">
                                <div class="input-group mb-3">
                                   @Model.Input.Issuer
                                </div>
                                 
                            </td>

                    <tbody>
                </table>
            </div>
        </div>

        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
