@page
@model FluffyBunny.Admin.Pages.Tenants.Tenant.ApiResources.ApiResource.Secrets.DeleteModel
@{
    ViewData["Title"] = "Delete Api Resource Secrets";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Index">Tenants</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Index">@Model.TenantId</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/ApiResources/Index">Api Resources</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/ApiResources/ApiResource/Index" asp-route-id="@Model.ApiResourceId">Api Resource</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="./Index" asp-route-id="@Model.ApiResourceId">Api Resource Secrets</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<form id="edit-api-secret-model" method="post">
    <div class="card">
        <div class="card-header">
            Delete Api Secret
            </div>
       
        <input hidden asp-for="TenantId" class="form-control" />
        <input hidden asp-for="ApiResourceId" class="form-control" />
        <input hidden asp-for="SecretId" class="form-control" />

        <div id="cardBodyId">

            <div class="card-body">

                <div class="form-group">
                    <table class="table">
                      
                        <tbody>

                            <tr>
                                <td class="w-50">
                                    @nameof(Model.Secret.Description)
                                </td>
                                <td class="w-50">
                                    @Model.Secret.Description
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50">
                                    <label asp-for="Secret.Expiration"></label>
                                </td>
                                <td class="w-50">
                                    @Model.Secret.Expiration
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-primary" name="submit" value="Delete">Delete</button>
            <button type="submit" class="btn btn-primary" name="submit" value="Cancel">Cancel</button>
        </div>
    </div>
</form>