@page
@model FluffyBunny.Admin.Pages.Tenants.Tenant.Clients.IndexModel
@{
    ViewData["Title"] = "Clients";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Index">Tenants</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Index">@Model.TenantId</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
@{
    var prevDisabled = !Model.PagedEntities.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PagedEntities.HasNextPage ? "disabled" : "";
}

<div class="card">
    <div class="card-header text-muted">
        <a class="btn btn-sm btn-primary" asp-page="./Add">Add Client</a>
    </div>
    @if (Model.PagedEntities.Any())
    {
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="1">
                            <a asp-action="Index"
                               asp-route-sortOrder="@Model.EnabledSortType"
                               asp-route-pageSize="@Model.PageSize">Enabled</a>
                        </th>
                        <th colspan="1">
                            <a asp-action="Index"
                               asp-route-sortOrder="@Model.NameSortType"
                               asp-route-pageSize="@Model.PageSize">ClientId</a>
                        </th>

                        <th colspan="1">Description</th>
                        <th colspan="1">ClientName</th>
                        <th colspan="1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entity in Model.PagedEntities)
                    {
                        <tr>

                            <td>
                                @entity.Enabled
                            </td>
                            <td>
                                @entity.ClientId
                            </td>
                            <td>
                                @entity.Description
                            </td>
                            <td>
                                @entity.ClientName
                            </td>
                            <td>
                                <div class="btn-group ">
                                    <a class="btn btn-primary btn-sm active "
                                       role="button" aria-pressed="true"
                                       asp-page="./Client/Index"
                                       asp-route-id="@entity.Id">Details</a>
                                </div>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <div class="card-footer text-muted container-fluid">
            <div class="d-flex bd-highlight mb-3">
                <div class="p-2 bd-highlight">

                    <a class="btn btn-sm btn-primary @prevDisabled" asp-page="./Index"
                       asp-route-sortOrder="@Model.CurrentSortType"
                       asp-route-pageNumber="@(Model.PagedEntities.PageIndex - 1)"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">Previous</a>

                    <a class="btn btn-sm btn-primary @nextDisabled" asp-page="./Index"
                       asp-route-sortOrder="@Model.CurrentSortType"
                       asp-route-pageNumber="@(Model.PagedEntities.PageIndex + 1)"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">Next</a>
                </div>

                <div class="ml-auto p-2 bd-highlight">
                    <form class="form-inline"
                          asp-page-handler="pageSize"
                          method="post">
                        <select onchange="this.form.submit();"
                                asp-for="SelectedPageSize"
                                asp-items="Model.PageSizeOptions" class="custom-select">
                        </select>
                    </form>
                </div>
            </div>
        </div>
    }

</div>