@page
@model FluffyBunny.Admin.Pages.Tenant.ApiResources.Secrets.IndexModel
@{
    ViewData["Title"] = "Api Resource Secrets";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Index">Tenants</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page=".../Index">@Model.TenantId</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="../Index">Api Resources</a></li>

        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
 

<div class="card">
    <div class="card-header text-muted">
        <a class="btn btn-sm btn-primary" asp-page="./AddApiResourceSecret"
           asp-route-id="@Model.ApiResourceId">Add Secret</a>
    </div>
    @if (Model.Entities.Any())
    {
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="1">
                            <a asp-action="Index"
                               asp-route-id ="@Model.ApiResourceId"
                               asp-route-sortOrder="@Model.ExpirationSortType"
                               >Expiration</a>
                        </th>
                        <th colspan="1">
                            <a asp-action="Index"
                               asp-route-id ="@Model.ApiResourceId"
                               asp-route-sortOrder="@Model.DescriptionSortType"
                               >Decription</a>
                        </th>

                        <th colspan="1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entity in Model.Entities)
                    {
                        <tr>

                            <td class="w-50">
                                @entity.Expiration
                            </td>
                            <td class="w-50">
                                @entity.Description
                            </td>

                            <td class="w-50">
                                <div class="btn-group ">
                                    
                                    <a style="border-left-color: white;"
                                       class="btn btn-primary btn-sm active "
                                       role="button" aria-pressed="true"
                                       asp-page="./EditApiResourceSecret"
                                       asp-route-apiResourceId="@Model.ApiResourceId"
                                       asp-route-id="@entity.Id"
                                       >Edit</a>
                                    <a style="border-left-color: white;"
                                       class="btn btn-primary btn-sm active " role="button" aria-pressed="true"
                                       asp-page="./DeleteApiResourceSecret"
                                       asp-route-apiResourceId="@Model.ApiResourceId"
                                       asp-route-id="@entity.Id"
                                       >Delete</a>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

         
    }

</div>

