@page
@model FluffyBunny.Admin.Pages.Tenants.IndexModel
@{
    ViewData["Title"] = "Tenants";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Tenants</li>
        @if (!string.IsNullOrWhiteSpace(Model.TenantId))
        {
            <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenant/Index">@Model.TenantId</a></li>

        }
        else
        {
            <li class="breadcrumb-item active" aria-current="page">Please switch to a tenant.</li>

        }
    </ol>
</nav>

@{
    var prevDisabled = !Model.PagedTenants.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PagedTenants.HasNextPage ? "disabled" : "";
}

<div class="card">
    <div class="card-header text-muted">
        <a class="btn btn-sm btn-primary" asp-page="./AddTenant">Add Tenant</a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="1">
                        <a asp-action="Index"
                           asp-route-sortOrder="@Model.NameSortType"
                           asp-route-pageSize="@Model.PageSize">Tenant</a>
                    </th>
                    <th colspan="1">
                        <a asp-action="Index"
                           asp-route-sortOrder="@Model.EnabledSortType"
                           asp-route-pageSize="@Model.PageSize">Enabled</a>
                    </th>
                    <th colspan="1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tenant in Model.PagedTenants)
                {
                    <tr>

                        <td class="w-50">
                            @tenant.Name
                        </td>
                        <td class="w-50">
                            @tenant.Enabled
                        </td>
                        <td class="w-50">
                            <form class="form-inline" 
                                  asp-page-handler="switch"
                                  asp-area="" asp-page="./Index" asp-route-tenantName=@tenant.Name method="post">
                                <button type="submit" class="btn btn-sm  btn-primary">Switch</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer text-muted container-fluid">
        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight">

                <a class="btn btn-sm btn-primary @prevDisabled" asp-page="/Tenants/Index"
                   asp-route-sortOrder="@Model.CurrentSortType"
                   asp-route-pageNumber="@(Model.PagedTenants.PageIndex - 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">Previous</a>

                <a class="btn btn-sm btn-primary @nextDisabled" asp-page="/Tenants/Index"
                   asp-route-sortOrder="@Model.CurrentSortType"
                   asp-route-pageNumber="@(Model.PagedTenants.PageIndex + 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">Next</a>
            </div>
 
            <div class="ml-auto p-2 bd-highlight">
                <form class="form-inline"
                      asp-page-handler="pageSize"
                      asp-page="./Index" method="post">
                    <select onchange="this.form.submit();"
                            asp-for="SelectedPageSize"
                            asp-items="Model.PageSizeOptions" class="custom-select">
                    </select>
                </form>
            </div>
        </div>

        
    </div>
</div>


  
