@page
@model FluffyBunny.Admin.Pages.Tenants.Tenant.Clients.Client.DeleteModel
@{
    ViewData["Title"] = "Delete Client";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Index">Tenants</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Index">@Model.TenantId</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="./Index">Clients</a></li>

        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<form method="post">
    <div class="card">
        <div class="card-header">
            Delete Client
        </div>
        <input hidden asp-for="TenantId" class="form-control" />
        <input hidden asp-for="Input.Id" class="form-control" />
        <div id="cardBodyId">

            <div class="card-body">

                <div class="form-group">
                    <table class="table">

                        <tbody>

                            <tr>

                                <td class="w-50">
                                </td>
                                <td class="w-50">
                                    <input disabled asp-for="Input.Enabled" />
                                    <label>Enabled</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50">
                                    @nameof(Model.Input.ClientId)
                                </td>
                                <td class="w-50">
                                    @Model.Input.ClientId
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50">
                                    @nameof(Model.Input.Description)
                                </td>
                                <td class="w-50">
                                    <input disabled asp-for="Input.Description" class="form-control" />

                                </td>
                            </tr>
                            <tr>
                                <td class="w-50">
                                    @nameof(Model.Input.ClientName)
                                </td>
                                <td class="w-50">
                                    <input disabled asp-for="Input.ClientName" class="form-control" />

                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-primary" name="submit" value="Delete">Delete</button>
            <button type="submit" class="btn btn-primary" name="submit" value="Cancel">Cancel</button>
        </div>
    </div>
</form>
