@page
@model FluffyBunny.Admin.Pages.Tenants.Tenant.Clients.Client.Secrets.EditModel
@{
    ViewData["Title"] = "Edit Api Resource Secrets";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Index">Tenants</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Index">@Model.TenantId</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Clients/Index">Clients</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Clients/Client/Index" asp-route-id="@Model.ClientId">Client</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Clients/Client/Secrets/Index" asp-route-id="@Model.ClientId">Client Secrets</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<form id="edit-api-secret-model" method="post">
    <div class="card">
        <div class="card-header">
            Edit Client Secret
        </div>
        <input hidden asp-for="Input.CurrentExpiration" class="form-control" />
        <input hidden asp-for="TenantId" class="form-control" />
        <input hidden asp-for="ClientId" class="form-control" />
        <input hidden asp-for="SecretId" class="form-control" />
        
        <div id="cardBodyId">

            <div class="card-body">

                <div class="form-group">
                    <table class="table">
                       
                        <tbody>

                            <tr>
                                <td class="w-50">
                                    @nameof(Model.Secret.Description)
                                </td>
                                <td class="w-50">
                                    @Model.Secret.Description
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50">
                                    <label asp-for="Input.SecretExpiration"></label>
                                </td>
                                <td class="w-50">
                                    @foreach (var item in Model.Input.EditSecretExpirations)
                                    {
                                        <input type="radio" asp-for="Input.SecretExpiration" value="@item" /> @item<br />
                                    }
                                    <span asp-validation-for="Input.SecretExpiration" class="text-danger"></span>

                                </td>
                            </tr>

                            <tr>
                                <td class="w-50">
                                    Expiration
                                </td>
                                <td class="w-50">
                                    @Model.Input.CurrentExpiration
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
