@page
@model FluffyBunny.Admin.Pages.Tenants.Tenant.ApiResources.ApiResource.DeleteModel
@{
    ViewData["Title"] = "Delete Api Resource";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Index">Tenants</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/Index">@Model.TenantId</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/ApiResources/Index">Api Resources</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Tenants/Tenant/ApiResources/ApiResource/Index" asp-route-id="@Model.Input.Id">Api Resource</a></li>

        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<form method="post">
    <div class="card">
        <div class="card-header">
            Edit Api Resource
        </div>
        <input hidden asp-for="TenantId" class="form-control" />
        <input hidden asp-for="Input.Id" class="form-control" />
        <div id="cardBodyId">

            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <table class="table">

                        <tbody>

                            <tr>

                                <td class="w-50">
                                </td>
                                <td class="w-50">
                                    <input disabled asp-for="Entity.Enabled" />
                                    <label>Enabled</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50">
                                    @nameof(Model.Entity.Name)
                                </td>
                                <td class="w-50">
                                    <input disabled asp-for="Entity.Name" class="form-control" />
          
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50">
                                    @nameof(Model.Entity.Description)
                                </td>
                                <td class="w-50">
                                    <input disabled asp-for="Entity.Description" class="form-control" />
                                 
                                </td>
                            </tr>

                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-primary" name="submit" value="Delete">Delete</button>
            <button type="submit" class="btn btn-primary" name="submit" value="Cancel">Cancel</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}